

<!-- Articles Container -->

    <div class="article-card" data-article-id="{{ article.id }}" data-type="{{ article.get_category_display }}">
        <!-- Article Type (Top) -->
        <div class="article-type">{{ article.get_category_display }}</div>

        <!-- Article Header: Author + Delete -->
        <div class="article-header">
            <div class="author-info">
                <a href="{% url 'employee_profile' article.author.id %}" class="author-link d-flex align-items-center gap-2">
                {% if article.author.profile_image %}
                    <img src="{{ article.author.profile_image.url }}" class="author-img rounded-circle">
                {% else %}
                    <div class="author-placeholder"> <i class="fa-solid fa-user fa-lg"></i></div>
                {% endif %}
                </a>
                <div class="author-details">
            <span class="author-name" data-username="{{ article.author.username }}">{{ article.author.name }}</span>
                    <small class="article-time" data-iso="{{ article.created_at|date:'c' }}"></small>
                </div>
           
            </div>

            
        </div>

        <hr style="margin: -5px 0;">

        <!-- Title -->
        <h4 class="article-title">Title: {{ article.title }}</h4>
        <hr style="margin: -5px 0;">

        <!-- Article Content -->
        <div class="article-preview">
            <div class="article-text" id="text-{{ article.id }}">
                {{ article.content|linebreaks }}
            </div>
            <div class="see-more" id="btn-{{ article.id }}" onclick="toggleSeeMore({{ article.id }})">
                See more
            </div>
        </div>

        <!-- Cover Image -->
        {% if article.cover_image %}
        <div class="cover-image-wrapper">
            <img src="{{ article.cover_image.url }}" class="cover-image">
        </div>
        {% endif %}

        <!-- Include Comment Form & Comment List -->
        {% include "comment/addcomment.html" with article=article %}
        
    </div>




