

<div class="reply-row" data-reply-id="{{ reply.id }}" {% if reply.parent %}data-parent-id="{{ reply.parent.id }}"{% endif %}>
   <a href="{% url 'employee_profile' reply.author.id %}" class="reply-author d-flex align-items-center gap-2">
  {% if reply.author.profile_image %}
    <img class="reply-avatar" src="{{ reply.author.profile_image.url }}" alt="{{ reply.author.name }}">
  {% else %}
    <div class="reply-avatar placeholder"><i class="fa-solid fa-user"></i></div>
  {% endif %}
   </a>
  <div class="reply-container">
    <div class="reply-card">
      <div class="reply-meta">
     <strong class="reply-author" data-username="{{ reply.author.username }}">{{ reply.author.name }}</strong>

        <span class="reply-time" data-time="{{ reply.created_at.isoformat }}">{{ reply.created_at }}</span>
      </div>

      {% if reply.parent %}
       <div class="reply-body">
        {% if reply.reply_to %}
        <span class="reply-parent-author">{{ reply.reply_to.name }}</span>{{reply.body}}
       {% endif%}
       </div>
      {% else %}
        <div class="reply-body">{{ reply.body }}</div>
      {% endif %}
    </div>

    <div class="reply-actions">
      <button class="reply-link"
              data-parent-id="{{ reply.id }}"
              data-comment-author="{{ reply.author.name }}">
        Reply
      </button>
          {% if request.user.employee == reply.author %}
      <div class="reply-ellipsis">
        <i class="fa-solid fa-ellipsis"></i>
        <div class="reply-actions-menu" role="menu">
          <button class="edit-reply-btn" data-reply-id="{{ reply.id }}"><i class="fa-solid fa-pen"></i> Edit</button>
          <button type="button" class="delete-reply-btn" data-reply-id="{{ reply.id }}"><i class="fa-solid fa-trash"></i> Delete</button>
        
        </div>
      </div>
        {% endif %}
    </div>
  </div>
</div>
