
{% extends 'base.html' %}
{% load static %}
{% block title %}Homepage{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/articlecard.css' %}">
{% endblock %}

{% block content %}
<div class="filter-buttons">
    <button class="filter-btn active" data-type="All">All</button>
    <button class="filter-btn" data-type="General">General</button>
    <button class="filter-btn" data-type="Smarika">Smarika</button>
    <button class="filter-btn" data-type="Employee Experience">Employee Experience</button>
</div>
<div class="articles-container">
    {% for article in articles %}
        {% include "articles/article_card.html" with article=article %}
    {% endfor %}
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/articlecard.js' %}"></script>
{% endblock %}