

/* page layout */
body { background: #fff; }
.sidebar {
    height: 100vh;
    background-color : #004C97;
    border-right: 1px solid #EBB318;
    padding: 10px;
    position: sticky;
    top: 0;
}


/* top notification area */
#alertBox { display: none; position: sticky; top: 10px; z-index: 1200; }
.sidebar .list-group-item {
    background-color: transparent; /* remove default bootstrap bg */
    color: white;                  /* text white */
    border: none;   
    font-size: 20px;
           /* remove borders */
}

.sidebar .list-group-item:hover,
.sidebar .list-group-item:focus {
    background-color: rgba(255,255,255,0.1); /* subtle hover effect */
    color: white;
}

/* Sidebar logo */
.sidebar-logo {
    background-color: #004C97; /* NTC blue */
   
  
 
  ;
}
.ntc-logo {
    max-width: 90px;
    height: auto;
    background: transparent;
    display:block;
    margin-left:100px;
    margin-top: -10px;
    justify-content: center ;
  

    
    
}


.sidebar-logo p{
    text-align:center;
    font-size: 26px;
    margin-top: -1.5rem;
    color:#EBB31B ;
    margin-top: 0px;
   
    
}
.sidebar-menu .list-group-item {
    border: none;
    border-radius: 8px;
    margin-bottom: 4px;
    color: #fff;
    transition: background-color 0.2s ease, color 0.2s ease;
}

/* Hover */
.sidebar-menu .list-group-item:hover {

    color: #EBB31B;
}

/* Active */
.sidebar-menu .list-group-item.active {
    background-color: #EBB31B;
    color: #004C97;
    font-weight: 600;
}

/* Active icon */
.sidebar-menu .list-group-item.active i {
    color: #004C97;
}
