{% extends "base.html" %}
{% load static %}
{% block title %}Profile | {{ employee.name }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/articlecard.css' %}">
<link rel="stylesheet" href="{% static 'css/addcomment.css' %}">
<link rel="stylesheet" href="{% static 'css/profile.css' %}">


{% endblock %}
{% block content %}
   <!-- or whatever column width you want -->
    
  <div class="profile-header">
    
    {% if employee.profile_image %}
      <img src="{{ employee.profile_image.url }}" class="profile-img">
    {% else %}
      <div class="profile-img profile-placeholder"> <i class="fa-solid fa-user fa-lg"></i></div>
    {% endif %}

    <div class="profile-info">
      <h4 class="mb-1">{{ employee.name }}</h4>
      <p class="mb-0 text-muted">{{ employee.position }}</p>
      <p class="mb-0 small">{{ employee.department }} | {{ employee.office }}</p>

     
    </div>
     {% if request.user == employee.user %}
    <div class="profile-edit-button">
   
        <a href="{% url 'edit_profile' %}" >
         <i class="fa-solid fa-pen-to-square"></i> Edit Profile
        </a>
    
      </diV>
        {% endif %}

</div>


 <!-- Write Article Box -->
{% if request.user.is_authenticated %}
 {% if request.user == employee.user %}
<div class="write-article-box" id="openWriteArticle">
    {% if employee.profile_image %}
        <img src="{{ employee.profile_image.url }}" class="write-avatar">
    {% else %}
        <div class="write-avatar placeholder"> <i class="fa-solid fa-user fa-lg"></i></div>
    {% endif %}

    <div class="write-placeholder">
        Write article as {{employee.name}}...
    </div>

    <div class="write-plus">+</div>
</div>

{% endif %}
{% endif %}


<hr>


      <!-- Articles -->
      <div >
        <h5 class="mb-3 text-center"
    id="profile-article-title"
    data-owner="{% if request.user == employee.user %}self{% else %}other{% endif %}"
    data-username="{{ employee.name }}">

    <span id="article-title-text">
        {% if request.user == employee.user %}
            Your Articles
        {% else %}
            {{ employee.name }} Articles
        {% endif %}
    </span>

    <span id="article-count"
          {% if article_count == 0 %}style="display:none"{% endif %}>{{ article_count }}</span>
</h5>



        <div class="filter-buttons">
    <button class="filter-btn active" data-type="All">All</button>
    <button class="filter-btn" data-type="General">General</button>
    <button class="filter-btn" data-type="Smarika">Smarika</button>
    <button class="filter-btn" data-type="Employee Experience">Employee Experience</button>
</div>
        {% if articles %}
        <div class="articles-container">
          {% for article in articles %}
          {% if article.status == 'published' %}
                   {% include "articles/article_card.html" with article=article %}
          {% endif %}
          {% endfor %}
        </div>
        {% else %}
        <br>
          <p class="text-muted text-center" >No articles posted yet.</p>
        {% endif %}
      </div>

    </div>


{% endblock %}



{% block extra_js %}
<script src="{% static 'js/articlecard.js' %}"></script>
<script src="{% static 'js/addcomment.js' %}"></script>



{% endblock %}

